<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="naslov navbar-brand" href="#">TravelBUDDY</a>
    <div class="" id="links">
      <ul class="ms-auto navbar-nav">
        <li class="linkovi nav-item">
          <a class="linkovi nav-link" routerLink="/login" replaceUrl="true" href="../login/login.component.html">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="home">
    <div class="overlay w-100 h-100">
      <div class="container">
        <div class="row text-white">
            <div class="col-md-8">
            <h1 class="display-4">Find a travel buddy and explore the World!</h1>
            <div>
                <div class="d-flex p-4">
                <div>
                    <i class="fa fa-plane" style="color:#5B8A72;"></i> <span class="ml-3"> Meet new people  </span> 
                </div>
              </div>
              <div class="d-flex p-4">
                <div>
                  <i class="fa fa-compass" style="color:#5B8A72;"></i> <span class="ml-3"> Travel the World  </span> 
                </div>
              </div>
              <div class="d-flex p-4">
                <div>
                  <i class="fa fa-globe" style="color:#5B8A72;"></i> <span class="ml-3"> Create memories for life  </span> 
                </div>
              </div>   
            </div>
          </div>     
        </div>
      </div>
    </div>
  </section>

  <section id="explore">
    <section class="explore-head">
      <div class="container">
        <div class="row text-center text-white d-flex justify-content-center py-5">
          <h1 class="display-4">“The world is a book, and those who do not travel read only one page.”</h1>
        </div>

      </div>
    </section>
    <section>
      <div class="container">
        <div class="row py-5 text-muted">
          <div class="col-md-5">
            <img src="../../assets/images/home2.jpg" alt="" class="img-fluid rounded mb-3">
          </div>
          <div class="col-md-6">
            <h3>How it works?</h3>
            <div>
              <div class="d-flex p-4">
                <div>
                  <i class="fa fa-check"></i> <span class="ml-3"> Create a travel plan and invite other travel lovers to join you. </span> 
                </div>
              </div>
              <div class="d-flex p-4">
                <div>
                  <i class="fa fa-check"></i> <span class="ml-3"> Find travel plans from others and join them on their adventure. </span> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <footer class="text-white d-flex flex-column align-items-center py-4">
    <h3>TravelBUDDY</h3>
    <p>Copyright C 2021</p>
    <div> Our mission is to connect people from all over the world and </div>
    <div> to create a safe way of travelling for everyone.</div>
</footer>

<!-- Modal -->
<div class="modal fade" id="contact-us-modal">
<div class="modal-dialog">
  <div class="modal-content rounded-0">
    <div class="modal-header bg-primary rounded-0 text-white d-flex align items">
      <h5 class="modal-title">Contact Us</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" class="form-control"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-block">Submit</button>
    </div>
  </div>
</div>
</div>
