<body id="findbuddy">
  <div class="row h-100">
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card shadow rounded" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{trip.title}}</h5>
      <p class="card-text">{{trip.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Travel dates: {{trip.dates}}</li>
      <li class="list-group-item">Contact me: {{trip.contact}}</li>
    </ul>
    </div>
  </div> 
  </div>
    
</body>
